{% extends "core/base.html" %}

{% block title %}Список блогов{% endblock %}

{% block content %}
    <div>
        {% if not user.is_anonumous %}
            <a href="{% url "blog:blog_create" %}">Создать Блог</a>
            <a href="{% url "blog:post_create" %}">Создать Пост</a>
        {% endif %}
    </div>
    {% for blog in object_list %}
        <div>
            <div>
                <a href="{% url "blog:blog_detail" blog.id%}">{{ blog.title }}</a>
                {% if blog.editor == user %}
                    <a href="{% url "blog:blog_update" blog.id%}">Редактировать</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
