<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Dolgopa-city{% endblock %}</title>
    <link rel="stylesheet" href="{% static "core/bootstrap/dist/css/bootstrap.min.css" %}">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "core/bootstrap/dist/js/bootstrap.min.js" %}"></script>

</head>

<body>
<header>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-inner">
                <div class="navbar-header">
                    <button class="navbar-toggle pull-left" type="button" data-toggle="collapse"
                            data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Dolgopa-City</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#account">
                        <span class="glyphicon glyphicon-user"></span>
                    </button>
                </div>

                <div>
                    <ul class="nav navbar-nav collapse navbar-collapse" id="myNavbar">
                        <li><a href="{% url "core:home" %}">Главная</a></li>
                        <li><a href="{% url "blog:blog_list" %}">Блоги</a></li>
                    </ul>

                    <div class="navbar-right collapse navbar-collapse" id="account">
                        {% block user-tools %}
                            {% if user.is_anonymous %}
                                <form method="get">
                                    <button class="btn btn-success navbar-btn" formaction="{% url "core:login" %}">
                                        <span class="glyphicon glyphicon-log-in"></span>Войти
                                    </button>
                                    <button class="btn btn-primary navbar-btn" formaction="{% url "core:register" %}">
                                        <span class="glyphicon glyphicon-user"></span>Регистрация
                                    </button>
                                </form>
                            {% else %}
                                <ul class="nav navbar-nav">
                                    <li><a href="#"><strong>{{ user.username }}</strong></a></li>
                                    {% if user.is_superuser %}
                                        <li><a href="admin/">Админка</a></li>
                                    {% endif %}

                                    <li>
                                        <form method="get" action="{% url "core:logout" %}">
                                            <button class="btn btn-danger navbar-btn">
                                                <span class="glyphicon glyphicon-log-out"></span>Выйти
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            {% endif %}
                        {% endblock user-tools %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block navigation %}
        <ul class="breadcrumb">
            <li class="active">Главная</li>
        </ul>
    {% endblock navigation %}
</header>
<main>
    {% block content %}
        <div class="hero-unit">
            <p>Количество блогов: {{ blogs_cnt }}</p>
            <p>Количество постов: {{ posts_cnt }}</p>
            <p>Количество комментов: {{ comments_cnt }}</p>
        </div>
    {% endblock content %}
</main>
</body>
<footer class="panel-footer bottom">
    <div class="container">
    {% block footer %}
        <p>Я не могу в верстку с 2017(с)</p>
    {% endblock footer %}
    </div>
</footer>
</html>
